.left-side
  .left-side__header
    .left-side__header__contents
      .left-side__header__contents__text
        Direct
      .left-side__header__contents__fab
        =link_to "/" do
          = icon('far fa-edit',  class: "direct__btn--icon")
  
  .left-side__center
    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中
  

  
    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中

    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


     
    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中


    .left-side__center__contents
      .left-side__center__contents__message
        .left-side__center__contents__message__man 
          =link_to "/", class: "left-side__center__contents__message__man__link" do
            = image_tag "/assets/お洒落画像４.jpg", size: "56x56", alt: "顔写真1", class: "left-side__center__contents__message__man__link__icon"
            .left-side__center__contents__message__man__link__content
              .left-side__center__contents__message__man__link__content__username
                ユーザーネーム
              .left-side__center__contents__message__man__link__content__text
                オンライン中