.message-chat
  .message-chat__header
    .message-chat__header__content
      .message-chat__header__content__contents
        .message-chat__header__content__contents__left
          = image_tag "/assets/お洒落画像４.jpg", size: "24x24", alt: "顔写真1", class: "message-chat__header__content__contents__left__icon"
          .message-chat__header__content__contents__left__username
            ユーザーネーム
        .message-chat__header__content__contents__right
          = icon('fas fa-info-circle',  class: "message-chat__header__content__right--icon")

  .message-chat__main
    .message-chat__main__content
      .message-chat__main__content__chat
        .message-chat__main__content__chat__time
          2020年7月31日0:00
        .message-chat__main__content__chat__comment
          こんばんは
          
  .form
    = form_with url: root_path do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'メッセージ...'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = icon('far fa-heart',  class: "message-chat__comment__content--icon")
        = f.file_field :image, class: 'hidden'



      -# = f.submit 'Send', class: 'form__submit'
    -# .message-chat__comment__content
    -#   =text_area name="name", class: "message-chat__comment__content__chat", placehoder: "メッセージ" 
        
    -#   -# .message-chat__comment__content__icon
      -#   = icon('far fa-image',  class: "message-chat__comment__content--icon")

      -#   = icon('far fa-heart',  class: "message-chat__comment__content--icon")
