.loader-wrap
  .loader
  .loader-text
    Photo
.signIn-background
  .cover1
  .cover2
  .cover3
  .signIn-inner
    .signIn-inner__text
      .signIn-inner__text__1
        %p Connect with
      .signIn-inner__text__2
        %p photos 
      .signIn-inner__text__3
        %p & conversation
      .signIn-inner__text__4
        %P つながりをつくる
      .signIn-inner__text__5
        %p 多くの写真と
      .signIn-inner__text__6
        %p つむぐ会話
    .signIn-inner__box
      .signIn-main-box
        .signIn-main-box__title
          %h1#users-title-id Photo
        .signIn-main-box__form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = devise_error_messages
            .email-field-box
              =f.email_field :email, class: "signIp-form-field", id: "signIp-form-field-email"
              %label(for="signIp-form-field-email") メールアドレス
            .password-field-box
              =f.password_field :password, class: "signIp-form-field", id: "signIp-form-field-password"
              %label(for="signIp-form-field-password") パスワード
            =f.submit 'ログイン', class: "signIp-form-submit"
        .signIn-main-box__testUser
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.hidden_field :email, value: "test@test"
            = f.hidden_field :password, value: "aaaaaa"
            = f.submit "ゲストログイン", class: "testUser-submit"
      .signUp-box
        .signUp-box__text
          アカウントをお持ちでないですか？
        .signUp-box__link
          %div{"data-turbolinks" => "false"}
            =link_to new_user_registration_path do
              登録する
= render 'shared/footer'
