%article
  .main
    .headber
      .headber__story
        .headber__story__line
          %ul.headber__story__line__human
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="", size: "56x56"
              .headber__story__line__human__sub__listtext
                名前
            
    .mainber
      .mainber__header
        .mainber__header__head
          %span.mainber__head__image
            = image_tag src="", size: "42x42"
          
          .mainber__header__head__name-place
            .mainber__header__head__name-place__name
              名前
            .mainber__header__head__name-place__place
              場所
          .mainber__headright
            = icon('fas fa-ellipsis-h',  class: "mainber__headright__btn--icon")
      %span.mainber__images
        =image_tag src="", size: "614x614"
      %section.mainber__icon
        %span.mainber__icon__heart
          = icon('far fa-heart',  class: "mainber__icon__heart__btn--icon")
        %span.mainber__icon__heart
          = icon('far fa-comment',  class: "mainber__icon__heart__btn--icon")
        %span.mainber__icon__heart
          = icon('far fa-share-square',  class: "mainber__icon__heart__btn--icon")


      %section.mainber__fab
        フォロワー、他50人が「いいね！」しました
      .mainber__username
        ユーザーネーム
      .mainber__time
        10時間前
      .mainber__comment
        .mainber__comment__text
          この投稿へのコメントは制限されています。