.mainside
  .mainside__profile
    .mainside__profile__line
      %span.mainside__profile__line__image
        = image_tag src="", size: "50x56"
      .mainside__profile__line__text 
        .mainside__profile__line__text__username
          ユーザーネーム
        .mainside__profile__line__text__nickname
          ニックネーム
  
  .mainside__recommended
    .mainside__recommended__side
      .mainside__recommended__side__fab
        おすすめ
      .mainside__recommended__side__look
        すべて見る
    .mainside__recommended__user
      .mainside__recommended__user__box
        .mainside__recommended__user__box__content
          %span.mainside__recommended__user__box__content__image
            = image_tag src="", size: "32x32"
          .mainside__recommended__user__box__content__name
            .mainside__recommended__user__box__content__name__username
              ユーザーネーム
            .mainside__recommended__user__box__content__name__follower
              フォロワー、他５人がフォロー中
          .mainside__recommended__user__box__content__follow
            フォローする
      
      .mainside__recommended__user__box
        .mainside__recommended__user__box__content
          %span.mainside__recommended__user__box__content__image
            = image_tag src="", size: "32x32"
          .mainside__recommended__user__box__content__name
            .mainside__recommended__user__box__content__name__username
              ユーザーネーム
            .mainside__recommended__user__box__content__name__follower
              フォロワー、他５人がフォロー中
          .mainside__recommended__user__box__content__follow
            フォローする

      .mainside__recommended__user__box
        .mainside__recommended__user__box__content
          %span.mainside__recommended__user__box__content__image
            = image_tag src="", size: "32x32"
          .mainside__recommended__user__box__content__name
            .mainside__recommended__user__box__content__name__username
              ユーザーネーム
            .mainside__recommended__user__box__content__name__follower
              フォロワー、他５人がフォロー中
          .mainside__recommended__user__box__content__follow
            フォローする
      .mainside__recommended__user__box
        .mainside__recommended__user__box__content
          %span.mainside__recommended__user__box__content__image
            = image_tag src="", size: "32x32"
          .mainside__recommended__user__box__content__name
            .mainside__recommended__user__box__content__name__username
              ユーザーネーム
            .mainside__recommended__user__box__content__name__follower
              フォロワー、他５人がフォロー中
          .mainside__recommended__user__box__content__follow
            フォローする

      .mainside__recommended__user__box
        .mainside__recommended__user__box__content
          %span.mainside__recommended__user__box__content__image
            = image_tag src="", size: "32x32"
          .mainside__recommended__user__box__content__name
            .mainside__recommended__user__box__content__name__username
              ユーザーネーム
            .mainside__recommended__user__box__content__name__follower
              フォロワー、他５人がフォロー中
          .mainside__recommended__user__box__content__follow
            フォローする