.post__contents
  .post__contents__container
    = form_with model: @post, local: true do |f|
      .header__post
        .header__post__back
          =link_to root_path do
            =icon('fas fa-chevron-left', class: "header-back-icon")
        .header__post__newpost
          基本データを編集する
        = f.submit "完了", class: 'header__post__submit'

      .posts__show
        .posts__show__main
          .posts__show__main__body
            .posts__show__main__body__contents
              .posts__show__main__body__contents__image.slick
                - @post.images.each do |image|
                  - if image.image.file.content_type.include?('image/')
                    -if image[0]
                      = image_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "436x436"
                    -else
                      = image_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "436x436", loading: "lazy"
                  - else
                    -if image[0]
                      = video_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "436x436", controls: true, loop: true
                    - else
                      = video_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "436x436", controls: true, loop: true, loading: "lazy"
              .posts__show__main__body__contents__side
                .posts__show__main__body__contents__side__header
                  %span.mainber__head__image
                    = link_to exhibition_path(id: @post.user.id) do
                      - if @post.user.image?
                        = image_tag @post.user.image.url, size: "32", class: "tops-icon"
                      - else
                        = image_tag src="user1.png", size: "32", class: "tops-icon"
                  .posts__show__main__body__contents__side__header__name
                    =link_to exhibition_path, class: "show-name" do
                      = @post.user.username
                
                .posts__show__main__body__contents__side__right
                  .posts-edit__main__body
                    .posts-show-box
                      .posts__show__main__body__contents__side__right__main__icon
                        %span.show__sub__image
                          = link_to exhibition_path(id: @post.user.id) do
                            - if @post.user.image?
                              = image_tag @post.user.image.url, size: "32", class: "tops-icon"
                            - else
                              = image_tag src="user1.png", size: "32", class: "tops-icon"
                      .posts__show__main__body__contents__side__right__main__name
                        = link_to exhibition_path(id: @post.user.id) do
                          = @post.user.username
                        .posts-edit-text
                          = f.text_area :content, class: "edit-content"
    
                -# .posts__show__main__body__contents__side__right
                -#   .posts__show__main__body__contents__side__right__main
                -#     .posts__show__main__body__contents__side__right__main__icon
                -#       %span.show__sub__image
                -#         = link_to exhibition_path(id: @post.user.id) do
                -#           - if @post.user.image?
                -#             = image_tag @post.user.image.url, size: "32", class: "tops-icon"
                -#           - else
                -#             = image_tag src="user1.png", size: "32", class: "tops-icon"
                -#     .posts__show__main__body__contents__side__right__main__name
                -#       =link_to exhibition_path, class: "show-name" do
                -#         = @post.user.username
                -#       .posts__show__main__body__contents__side__right__main__name__text
                -#         =f.text_area :content, class: "edit-content"
                -#       .comments-post__time
                -#         %time(datetime="#{@post.created_at}")= time_ago_in_words(@post.created_at)
                        
                  -# .posts__show__main__body__contents__side__right__footer
                  -#   .posts__show__main__body__contents__side__right__footer__icon
                  -#     = icon('far fa-heart',  class: "main-show-icon")
                  -#   .posts__show__main__body__contents__side__right__footer__icon
                  -#     = icon('far fa-comment',  class: "main-show-icon")
                  -#   .posts__show__main__body__contents__side__right__footer__icon
                  -#     = icon('far fa-share-square',  class: "main-show-icon")
                  -# .posts__show__main__body__contents__side__right__like
                  -#   .posts__show__main__body__contents__side__right__like__image
                  -#     = image_tag src="/BackgroundHomeSummer.jpg", size: "25x25", class: "show-header-icon"
                  -#   .posts__show__main__body__contents__side__right__like__fab
                  -#     フォロワー、他50人が「いいね！」しました

                  -# .posts__show__main__body__contents__side__right__time
                  -#   %time(datetime="#{@post.created_at}")= time_ago_in_words(@post.created_at)
                    
                  -# = form_with model: @posts, local: true do |f|
                  -#   .posts__show__main__body__contents__side__right__comment
                  -#     .posts__show__main__body__contents__side__right__comment__box

                  -#       = f.text_area :content, class: "posts__show__main__body__contents__side__right__comment__box__add", placeholder: 'コメントを追加...'
                  -#       = f.submit "投稿する", class: 'posts__show__main__body__contents__side__right__comment__box__submit'
                  