%article
  .main
    .headber
      .headber__story
        .headber__story__line
          %ul.headber__story__line__human
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前
            %li.headber__story__line__human__sub
              %span.headber__story__line__human__sub__listimage
                = image_tag src="/BackgroundHomeSummer.jpg", size: "56x56", class: "tops-icon"
              .headber__story__line__human__sub__listtext
                名前

    
        
    - @posts.each do |post|
      = render partial: 'posts-image', locals: {post: post}
