.mainber
  .mainber__header
    .mainber__header__head
      %span.mainber__head__image
        = image_tag src="/BackgroundHomeSummer.jpg", size: "42x42", class: "tops-icon"
      
      .mainber__header__head__name-place
        .mainber__header__head__name-place__name
          = post.user.username
        .mainber__header__head__name-place__place
          = post.user.nickname
  %span.mainber__images
    =link_to post_path(post) do
      = image_tag post.images.first.image.url, class: "main-new-arrival__product--image--first slick", size: "614x614"
  %section.mainber__icon
    %span.mainber__icon__heart
      = icon('far fa-heart',  class: "mainber__icon__heart__btn--icon")
    %span.mainber__icon__heart
      = icon('far fa-comment',  class: "mainber__icon__heart__btn--icon")
    %span.mainber__icon__heart
      = icon('far fa-share-square',  class: "mainber__icon__heart__btn--icon")


  %section.mainber__fab
    フォロワー、他50人が「いいね！」しました
  .mainber__username
    = post.user.username
  .mainber__content
    = post.content
  .mainber__time
    %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)
  #comments-create.comments-index
    - if post.comments
      - post.comments.each do |comment|
        .comments-post__box
          .comments-post__box__add
            .comments-post__box__add__box
              .comments-post__box__add__box__name
                =link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comments-name"
              .comments-post__box__add__box__content
                = comment.content
          .comments-post__box__time
            %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
          .comment-post__box__add__delete
            - if user_signed_in? && current_user.id == comment.user_id
              =link_to "削除", post_comment_path(post_id: post.id, id: comment.id), method: :delete, class: "comments-delete"
 
  .mainber__comment
    = form_with model: [post, @comment], local: true, id: "new_comment" do |f|
      .mainber__comment__box
        = f.text_area :content, class: "comment-text", id: "comment-text", placeholder: 'コメントを追加...'
        = f.submit "投稿する", class: "comment-submit", id: "comment-submit"