.posts__show
  .posts__show__main
    .posts__show__main__body
      .posts__show__main__body__contents
        .posts__show__main__body__contents__image.slick
          - @post.images.each do |image|
            - if image.image.file.content_type.include?('image/')
              -if image[0]
                = image_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "448"
              -else
                = image_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "448", loading: "lazy"
            - else
              -if image[0]
                = video_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "448", controls: true, loop: true
              - else
                = video_tag image.image.url, class: "main-new-arrival__product--image--first slick", size: "448", controls: true, loop: true, loading: "lazy"

        .posts__show__main__body__contents__side
          .posts__show__main__body__contents__side__header
            .posts__show__main__body__contents__side__header__icon
              %span.show__head__image
                = link_to exhibition_path(id: @post.user.id) do
                  - if @post.user.image?
                    = image_tag @post.user.image.url, size: "32", class: "tops-icon"
                  - else
                    = image_tag src="user1.png", size: "32", class: "tops-icon"
            .posts__show__main__body__contents__side__header__name
              = link_to exhibition_path(id: @post.user.id) do
                = @post.user.username
            .posts__show__main__body__contents__side__header__fab
              %button.option-btn-post
                = icon('fas fa-ellipsis-h',  class: "show-header-icon")
              .gray-back
                -if user_signed_in? && current_user.id == @post.user_id
                  .option-menu
                    %ul
                      %li.option-listc-delete
                        =link_to '削除', "/posts/#{@post.id}", method: :delete
                        
                      %li.option-list-edit
                        %div{"data-turbolinks" => "false"}
                          =link_to edit_post_path do
                            編集
                      %li.option-list-bottom
                        %button.cancel-btn キャンセル
                -else
                  .option-menu
                    %ul
                      %li.option-list-follow-cancel
                        =link_to "#" do
                          フォローをやめる
                      %li.option-post
                        =link_to  "#" do
                          投稿へ移動
                      %li.option-list-bottom
                        %button.cancel-btn キャンセル
          .posts__show__main__body__contents__side__right
            .posts__show__main__body__contents__side__right__main
              .posts-show-box
                .posts__show__main__body__contents__side__right__main__icon
                  %span.show__sub__image
                    = link_to exhibition_path(id: @post.user.id) do
                      - if @post.user.image?
                        = image_tag @post.user.image.url, size: "32", class: "tops-icon"
                      - else
                        = image_tag src="user1.png", size: "32", class: "tops-icon"
                .posts__show__main__body__contents__side__right__main__name
                  = link_to exhibition_path(id: @post.user.id) do
                    = @post.user.username
                  .posts__show__main__body__contents__side__right__main__name__text
                    = @post.content
                  .show-post__time
                    %time(datetime="#{@post.created_at}")= time_ago_in_words(@post.created_at)
              #comments-create.comments-post
                - if @comments
                  - @comments.each do |comment|
                    .show-contents
                      %span.show__main__image
                        =link_to exhibition_path(id: comment.user.id)   do
                          - if comment.user.image?
                            = image_tag comment.user.image.url, size: "32", class: "tops-icon"
                          - else
                            = image_tag src="user1.png", size: "32", class: "tops-icon"
                      .show-text
                        .commet-post__add
                          .comment-post__add__box
                            .comments-post__add__box__name
                              = link_to exhibition_path(id: comment.user.id)  do
                                =comment.user.username
                            .comments-post__add__box__content
                              = comment.content
                        .comments-post__time
                          %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
                        .comment-post__add__delete
                          - if user_signed_in? && current_user.id == comment.user_id
                            =link_to "削除", post_comment_path(post_id: @post.id, id: comment.id), method: :delete, class: "comments-delete"
            .posts__show__main__body__contents__side__right__footer
              .posts__show__main__body__contents__side__right__footer__heart
                = render partial: 'likes/like', locals: { post: @post }
              .posts__show__main__body__contents__side__right__footer__icon
                = icon('far fa-comment',  class: "main-show-icon")
            .posts__show__main__body__contents__side__right__like
             
              .posts__show__main__body__contents__side__right__like__fab
                = @post.likes.length
                %span 人が「いいね！」しました
            - if current_user  
              = form_with model: [@post, @comment], local: true, id: "show_comment" do |f|
                .posts__show__main__body__contents__side__right__comment
                  .posts__show__main__body__contents__side__right__comment__box
                    = f.text_area :content, class: "posts__show__main__body__contents__side__right__comment__box__add", id: "comment-text", placeholder: 'コメントを追加...'
                    = f.submit "投稿する", class: 'posts__show__main__body__contents__side__right__comment__box__submit', id: "comment-submit"