.posts__show
  .posts__show__main
    .posts__show__main__body
      .posts__show__main__body__contents
        .posts__show__main__body__contents__image
          = image_tag @post.images.first.image.url, class: "main-new-arrival__product--image--first slick", size: "436x436"
        .posts__show__main__body__contents__side
          .posts__show__main__body__contents__side__header
            .posts__show__main__body__contents__side__header__icon
              = image_tag src="/BackgroundHomeSummer.jpg", size: "32x32", class: "show-header-icon"
            .posts__show__main__body__contents__side__header__name
              =link_to exhibition_path, class: "show-name" do
                = @post.user.username
            .posts__show__main__body__contents__side__header__fab
              %button.option-btn-post
                = icon('fas fa-ellipsis-h',  class: "show-header-icon")
              .gray-back
                -if user_signed_in? && current_user.id == @post.user_id
                  .option-menu
                    %ul
                      %li.option-listc-delete
                        =link_to '削除', "/posts/#{@post.id}", method: :delete
                        
                      %li.option-list-edit
                        %div{"data-turbolinks" => "false"}
                          =link_to edit_post_path do
                            編集
                      %li.option-list-bottom
                        %button.cancel-btn キャンセル
                -else
                  .option-menu     
                    %ul
                      %li.option-list-follow-cancel
                        =link_to "#" do
                          フォローをやめる
                      %li.option-post
                        =link_to  "#" do
                          投稿へ移動
                      %li.option-list-bottom
                        %button.cancel-btn キャンセル
          .posts__show__main__body__contents__side__right
            .posts__show__main__body__contents__side__right__main
              .posts__show__main__body__contents__side__right__main__icon
                = image_tag src="/BackgroundHomeSummer.jpg", size: "32x32", class: "show-header-icon"
              .posts__show__main__body__contents__side__right__main__name
                =link_to exhibition_path, class: "show-name" do
                  = @post.user.username
                .posts__show__main__body__contents__side__right__main__name__text
                  = @post.content
                  
            .posts__show__main__body__contents__side__right__footer
              .posts__show__main__body__contents__side__right__footer__icon
                = icon('far fa-heart',  class: "main-show-icon")
              .posts__show__main__body__contents__side__right__footer__icon
                = icon('far fa-comment',  class: "main-show-icon")
              .posts__show__main__body__contents__side__right__footer__icon
                = icon('far fa-share-square',  class: "main-show-icon")
            .posts__show__main__body__contents__side__right__like
              .posts__show__main__body__contents__side__right__like__image
                = image_tag src="/BackgroundHomeSummer.jpg", size: "25x25", class: "show-header-icon"
              .posts__show__main__body__contents__side__right__like__fab
                フォロワー、他50人が「いいね！」しました

            .posts__show__main__body__contents__side__right__time
              %time(datetime="#{@post.created_at}")= time_ago_in_words(@post.created_at)
              
            = form_with model: @posts, local: true do |f|
              .posts__show__main__body__contents__side__right__comment
                .posts__show__main__body__contents__side__right__comment__box

                  = f.text_area :content, class: "posts__show__main__body__contents__side__right__comment__box__add", placeholder: 'コメントを追加...'
                  = f.submit "投稿する", class: 'posts__show__main__body__contents__side__right__comment__box__submit'
            