.tag-view
  .tag-main
    .tag-main__name
      \#
      = @tag.name
    .tag-main__count
      投稿
      = @tag_count
      件
  #post-modal{class: "modal fade", "aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .show-main-box
    .show-main-inner
      %ul.show-main-lists
        %li.show-main-list__current
        .show-main-posts
          - @posts.each do |post|
            .black-back
              .show-main-post
                =link_to post_show_exhibition_path(id: post.id), remote: true do
                  - if post.images.first.image.file.content_type.include?('image/')
                    = image_tag post.images.first.image.url, class: "show-main-post__image"
                  - else
                    = video_tag post.images.first.image.url, class: "show-main-post__image"
                .show-main-post__inner
                  .show-main-details
                    .show-main-details__hearts
                      = icon('fas fa-heart', class: "show-main-details__hearts__icon")
                      .show-main-details__hearts__length
                        = post.likes.length
                    .show-main-details__comments
                      = icon('fas fa-comment', class: "show-main-details__comments__icon")
                      .show-main-details__comments__length
                        = post.comments.length