.post__contents
  .post__contents__container
    = form_with model: @post, local: true do |f|
      .header__post
        .header__post__back
          =link_to root_path do
            =icon('fas fa-chevron-left', class: "header-back-icon")
        .header__post__newpost
          新規投稿
        = f.submit "シェア", class: 'header__post__submit'

      .main__post
        .main__post__contents
          .main__post__contents__icon
            - if @user.image?
              = image_tag @user.image.url, size: "30x30", class: "post-icon"
            - else
              = image_tag src="user1.png", size: "30x30", class: "post-icon"
          = f.text_area :content, class: "main__post__contents__cap", placeholder: 'キャプションを入力...'
          

        %label{for: "post_images_attributes_0_image", class: "image-box", id: "image-box--0"}
          %pre.label-text
            %i.fas.fa-camera{class: "exhibit__btn--icon"}
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード 

          = f.fields_for :images do |i|
            = i.file_field :image, accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", class: "image-field"
            %input{class:"image-field", type: "file", name: "post[images_attributes][1][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_1_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][2][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_2_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][3][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_3_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][4][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_4_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][5][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_5_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][6][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_6_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][7][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_7_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][8][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_8_image"}
            %input{class:"image-field", type: "file", name: "post[images_attributes][9][image]", accept: "image/jpeg,image/gif,image/png,video/mp4,video/.webm,video/.ogv", id: "post_images_attributes_9_image"}